body {
  background-color: #282829;
  font-size: 1.2em;
  color: #fff;
  background-attachment: fixed;
}

.boxtext {
  font-size: 0.85em;
}

.row {
  margin-bottom: 0px;
  margin-top: 0px;
}

h3 {
  font-size: 1.2em;
}
